<button class="card-back" (click)="cardBackMaker.selectImage()"><span>+</span></button>
<app-card-back-maker #cardBackMaker (imagesGenerated)="onCardBackChanged2($event)" 
    (everyImageGenerated)="onEveryCardBackChanged($event)"
    style="display: none;"></app-card-back-maker>

<input
    style="display: none"
    accept="image/png, image/jpeg"
    type="file" (change)="selectCustomImage($event)"
    #fileInput>
<img class="card-back" *ngIf="customCardBack; else addButton" [src]="customCardBack" (click)="fileInput.click()" />
<ng-template #addButton><button class="card-back" (click)="fileInput.click()">+</button></ng-template>  

<img class="card-back" *ngFor="let image of this.cardBacks" [src]="image" (click)="selectCardBack(image)"/>