<card-back-selector class="top" (cardBackChanged)="onCardBackChanged($event)"
  (cardBackChanged2)="onCardBackChanged2($event)"
  (everyCardBackChanged)="onEveryCardBackChanged($event)"></card-back-selector>

<fan-container class="body" [cards$]="sharedDataService.hand$">
	<ng-template #cardTemplate let-card let-index="index">
		<img [src]="this.getCardBack(index)" class="card-img"
			[ngClass]="{border: useMultipleCardBacks }" />
		<!-- <div style="height: 100%; width: 100%; font-size: 200px; background-color: lightgray;">
			<div [ngStyle]="{'transform': 'translateX(' + (-800.0/54*index).toString() + 'px)translateY(-50px)'}">Happy Birthday!</div>
		</div> -->
	</ng-template>
</fan-container>